In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
       SELECT f.name,
              (sum(ss.cost) - f.monthlymaintenance * 3 )AS TotalRevenue
       FROM Facilities AS f
       INNER JOIN (SELECT s.name,
                         (s.slots * s.membercost) AS cost
                   FROM (SELECT b.memid,
                                b.slots,
                                f.name,
                                f.guestcost,
                                f.membercost
                         FROM Members AS m
                         INNER JOIN Bookings AS b 
                             USING (memid)
                         INNER JOIN Facilities AS f 
                            USING (facid) ) AS s
                    WHERE s.memid != 0
                    UNION ALL
                    SELECT s.name,
                           (s.slots * s.guestcost) AS cost
                    FROM (SELECT b.memid,
                                 b.slots,
                                 f.name,
                                 f.guestcost,
                                 f.membercost
                          FROM Members AS m
                          INNER JOIN Bookings AS b 
                             USING (memid)
                          INNER JOIN Facilities AS f 
                             USING (facid) ) AS s
                    WHERE s.memid=0 ) AS ss
           USING(name)
       GROUP BY name
       HAVING TotalRevenue < 1000;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 225)
('Snooker Table', 195)
('Table Tennis', 150)

 Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

 Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [6]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.firstname,
               m.surname, 
               m.recommendedby, 
               s.firstname AS recommenderFirstname, 
               s.surname AS recommenderSurname
        FROM Members AS m
        INNER JOIN (SELECT memid,firstname, surname
                    FROM Members 
                    WHERE firstname != 'GUEST') AS s
        ON s.memid = m.recommendedby
        WHERE m.firstname != 'GUEST'
        ORDER BY m.firstname, m.surname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Anna', 'Mackenzie', '1', 'Darren', 'Smith')
('Anne', 'Baker', '9', 'Ponder', 'Stibbons')
('Charles', 'Owen', '1', 'Darren', 'Smith')
('David', 'Jones', '4', 'Janice', 'Joplette')
('David', 'Pinker', '13', 'Jemima', 'Farrell')
('Douglas', 'Jones', '11', 'David', 'Jones')
('Erica', 'Crumpet', '2', 'Tracy', 'Smith')
('Florence', 'Bader', '9', 'Ponder', 'Stibbons')
('Gerald', 'Butters', '1', 'Darren', 'Smith')
('Henrietta', 'Rumney', '20', 'Matthew', 'Genting')
('Henry', 'Worthington-Smyth', '2', 'Tracy', 'Smith')
('Jack', 'Smith', '1', 'Darren', 'Smith')
('Janice', 'Joplette', '1', 'Darren', 'Smith')
('Joan', 'Coplin', '16', 'Timothy', 'Baker')
('John', 'Hunt', '30', 'Millicent', 'Purview')
('Matthew', 'Genting', '5', 'Gerald', 'Butters')
('Millicent', 'Purview', '2', 'Tracy', 'Smith')
('Nancy', 'Dare', '4', 'Janice', 'Joplette')
('Ponder', 'Stibbons', '6', 'Burton', 'Tracy')
('Ramnaresh', 'Sarwin', '15', 'Florence', 'Bader')
('Tim', 'Boothe', '3', 'Tim', 'Rownam')
('Timothy', 'Baker', '13', 'Jemima', 'Farrell')

 Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

 Q12: Find the facilities with their usage by member, but not guests

In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name,
               COUNT(b.facid) AS usaget,
               sum(b.slots) * 0.5 AS usage_in_hour
        FROM Facilities AS f
        INNER JOIN Bookings AS b
           USING(facid)
        WHERE b.memid != 0
        GROUP BY facid;

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', 308, 478.5)
('Tennis Court 2', 276, 441.0)
('Badminton Court', 344, 543.0)
('Table Tennis', 385, 397.0)
('Massage Room 1', 421, 442.0)
('Massage Room 2', 27, 27.0)
('Squash Court', 195, 209.0)
('Snooker Table', 421, 430.0)
('Pool Table', 783, 428.0)

 Q12: Find the facilities with their usage by member, but not guests

 Q13: Find the facilities usage by month, but not guests

In [10]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
       SELECT f.name,
              s7.usage_in_JULY,
              s7.usage_in_hour_JULY,
              s8.usage_in_AUG,
              s8.usage_in_hour_AUG,
              s9.usage_in_SEP,
              s9.usage_in_hour_SEP
      FROM Facilities AS f
      INNER JOIN (SELECT f.name,
                         COUNT(b.facid) AS usage_in_JULY,
                         sum(b.slots) * 0.5 AS usage_in_hour_JULY
                  FROM Facilities AS f
                  INNER JOIN Bookings AS b
                    USING(facid)
                  WHERE b.memid != 0
                    AND strftime('%m',b.starttime)='07'
                  GROUP BY facid) as s7
        USING(name)
      INNER JOIN (SELECT f.name,
                         COUNT(b.facid) AS usage_in_AUG,
                         sum(b.slots) * 0.5 AS usage_in_hour_AUG
                  FROM Facilities AS f
                  INNER JOIN Bookings AS b
                    USING(facid)
                  WHERE b.memid != 0
                     AND strftime('%m',b.starttime)='08'
                  GROUP BY facid) as s8
        USING(name)
      INNER JOIN (SELECT f.name,
                         COUNT(b.facid) AS usage_in_SEP,
                         sum(b.slots) * 0.5 AS usage_in_hour_SEP
                  FROM Facilities AS f
                  INNER JOIN Bookings AS b
                    USING(facid)
                  WHERE b.memid != 0
                    AND strftime('%m',b.starttime)='09'
                  GROUP BY facid) as s9
        USING(name)
      ORDER BY name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 51, 82.5, 132, 207.0, 161, 253.5)
('Massage Room 1', 77, 83.0, 153, 158.0, 191, 201.0)
('Massage Room 2', 4, 4.0, 9, 9.0, 14, 14.0)
('Pool Table', 103, 55.0, 272, 151.5, 408, 221.5)
('Snooker Table', 68, 70.0, 154, 158.0, 199, 202.0)
('Squash Court', 23, 25.0, 85, 92.0, 87, 92.0)
('Table Tennis', 48, 49.0, 143, 148.0, 194, 200.0)
('Tennis Court 1', 65, 100.5, 111, 169.5, 132, 208.5)
('Tennis Court 2', 41, 61.5, 109, 172.5, 126, 207.0)

 Q13: Find the facilities usage by month, but not guests